/* Color Themes: Uncomment the desired theme to change the appearance of the page */
:root {
  --background-color: #ffffff;
  --accent-color: grey;
  --text-color: grey;
  --button-background: linear-gradient(145deg, #ff6b81, #e63946);
  --button-hover-background: linear-gradient(145deg, #ff1744, #ff5252);
  --button-active-background: linear-gradient(145deg, #ff6b81, #e63946);
  --button-border-color: #ff1744;
  --button-text-color: #ffffff;
  --shadow-color: rgba(255, 23, 68, 0.3);
  --scale: 0.7;
}

$background-color: var(--background-color);
$accent-color: var(--accent-color);
$text-color: var(--text-color);
$button-background: var(--button-background);
$button-hover-background: var(--button-hover-background);
$button-active-background: var(--button-active-background);
$button-border-color: var(--button-border-color);
$button-text-color: var(--button-text-color);
$shadow-color: var(--shadow-color);
$scale: var(--scale);

body {
  background-color: $background-color;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

.konami-payment-container {
  position: relative;
  padding: 40px;
  background-color: $background-color;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7);
  color: #e0e0e0;
  width: 100%;
  height: 100%;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .konami-logo-text {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: $accent-color;
    color: $text-color;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px 15px;
    clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
  }

  h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: $text-color;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: -1px -1px 0 $accent-color, 1px -1px 0 $accent-color,
      -1px 1px 0 $accent-color, 1px 1px 0 $accent-color;
  }

  p {
    font-size: 24px;
    margin-bottom: 30px;
    color: #a0a4b8;
  }

  .button-grid {
    display: flex;
    gap: 20px;
    width: 100%;
    flex-grow: 1;
    flex-direction: column;

    button {
      padding: 30px;
      font-size: 26px;
      font-weight: bold;
      color: $button-text-color;
      background: $button-background;
      border: 3px solid $button-border-color;
      border-radius: 12px;
      cursor: pointer;
      width: 100%;
      max-height: max-content;
      box-shadow: 0 6px 12px $shadow-color,
        inset 0 1px 1px rgba(255, 255, 255, 0.2);
      transition: background 0.3s ease, transform 0.3s ease,
        box-shadow 0.3s ease;

      &:hover {
        background: $button-hover-background;
        transform: translateY(-4px);
        box-shadow: 0 8px 16px $shadow-color,
          inset 0 1px 1px rgba(255, 255, 255, 0.2);
      }

      &:active {
        background: $button-active-background;
        transform: translateY(2px);
        box-shadow: 0 4px 8px $shadow-color,
          inset 0 1px 1px rgba(255, 255, 255, 0.2);
      }
    }
  }

  .help-button {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 15px 25px;
    font-size: 16px;
    color: $text-color;
    background-color: $accent-color;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 4px 8px $shadow-color;
    transition: background-color 0.3s ease, transform 0.3s ease;

    &:hover {
      background-color: $button-hover-background;
      transform: translateY(-2px);
    }

    &:active {
      background-color: $button-active-background;
      transform: translateY(1px);
    }
  }
}

/* Optional glowing animation around the container */
.konami-payment-container::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  background: var($background-color);
  border-radius: 15px;
  z-index: -1;
  animation: gradientShift 6s infinite alternate;
}

/* Gradient animation for background */
@keyframes gradientShift {
  0% {
    transform: scale(1);
    filter: blur(10px);
  }
  100% {
    transform: scale(1.05);
    filter: blur(12px);
  }
}

/* Common aspect ratios for a custom logo */

/* Square logo (1:1 aspect ratio) */
.custom-logo-square {
  width: 100px;
  height: 100px;
  margin: auto;
}

/* Wide logo (16:9 aspect ratio) */
.custom-logo-wide {
  width: 160px;
  height: 90px;
  margin: auto;
}

/* Portrait logo (9:16 aspect ratio) */
.custom-logo-portrait {
  width: 90px;
  height: 160px;
  margin: auto;
}

/* Classic logo (4:3 aspect ratio) */
.custom-logo-classic {
  width: 120px;
  height: 90px;
  margin: auto;
}

/* Banner logo (3:1 aspect ratio) */
.custom-logo-banner {
  width: 300px;
  height: 100px;
  margin: auto;
}

.lookup-result-container {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  text-align: center;
}

.lookup-result-left,
.lookup-result-right {
  flex: 1;
  padding: 0.5rem;
  font-size: 26px;

  ul {
    list-style: none;
    padding: 0;
  }

  li {
    margin-bottom: 0.5rem;
  }

  span {
    font-weight: bold;
  }
}

.lookup-result-left {
  text-align: left;
}

.lookup-result-right {
  text-align: right;
}

.custom-dialog-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $background-color;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 900;
  width: 40dvw;
}

.gradient-container {
  z-index: 999;
}

.theme-picker {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-top: 2rem;
}

.dialog-display-container {
  position: relative;
  width: 40%;
}

.setting-option {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 0.5rem;
}

.first {
  margin-top: 0.25rem;
}

.settings-button {
  position: fixed;
  top: 0.25rem;
  left: 0.25rem;
  z-index: 999;
  background: linear-gradient(145deg, #ff6b81, #e63946);
  color: white;
  border-radius: 5px;
  padding: 0.5rem;
  border: 1px solid #353536;
  margin-bottom: 0.5rem;

  &:hover {
    background: $button-hover-background;
    transform: translateY(-2px) !important;
    // ease in and out
    transition: all 0.1s ease-in-out !important;
  }
}

.img-option::file-selector-button {
  background: linear-gradient(145deg, #ff6b81, #e63946);
  color: white;
  border-radius: 5px;
  padding: 0.5rem;
  border: 1px solid #353536;
  margin-bottom: 0.5rem;
}

.import-export-container {
  position: fixed;
  top: 3.25rem;
  left: 0.25rem;
  display: flex;
  flex-direction: column;
}

.import-export-button {
  background: linear-gradient(145deg, #ff6b81, #e63946);
  color: white;
  border-radius: 5px;
  padding: 0.5rem;
  border: 1px solid #353536;
  margin-bottom: 0.5rem;

  &:hover {
    background: $button-hover-background;
    transform: translateY(-2px) !important;
    // ease in and out
    transition: all 0.1s ease-in-out !important;
  }
}

.settings-container {
  position: fixed;
  width: 40dvw;
  min-height: 200px;
  height: min-content;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #353536;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  color: whitesmoke;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  z-index: 950;
  opacity: 0; /* Hidden by default */
}

.img-option {
  margin-right: -7.5rem;
  display: none;
}

.custom-upload-label {
  background: linear-gradient(145deg, #ff6b81, #e63946);
  color: #ffffff; /* Text color */
  border: none;
  border-radius: 4px;
  padding: 0.5rem 0.5rem;
  margin: 0.5rem 0.5rem;
  font-size: 1rem;
  cursor: pointer; /* Pointer cursor */
  display: inline-block !important;
  text-align: center;

  &:hover {
    background: $button-hover-background;
    transform: translateY(-2px) !important;
    // ease in and out
    transition: all 0.1s ease-in-out !important;
  }
}

.aspect-ratio-dropdown {
  color: whitesmoke;
  background: linear-gradient(145deg, #ff6b81, #e63946);
  border: 1px solid #353536;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
  border-radius: 5px;
  padding: 0.5rem;
  cursor: pointer;

  &:hover {
    background: $button-hover-background;
    transform: translateY(-2px) !important;
    // ease in and out
    transition: all 0.1s ease-in-out !important;
  }
}

/* Use a workaround for styling options */
.aspect-ratio-dropdown option {
  background-color: #353536; /* Background for options */
  color: #ffffff; /* Text color */
  cursor: pointer; /* Pointer cursor */
}

/* Style the slider track */
input[type="range"] {
  -webkit-appearance: none; /* Remove default styles */
  appearance: none;

  height: 8px;
  background: #ccc; /* Light gray background for the empty track */
  border-radius: 5px;
  outline: none;
}

/* Chrome, Safari, and Edge: Filled Track */
input[type="range"]::-webkit-slider-runnable-track {
  background: #ccc; /* Light gray for the empty part of the track */
  border-radius: 5px;
  height: 8px;
}

/* Chrome, Safari, and Edge: Thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Remove default styling */
  appearance: none;
  background: #ff0000; /* Red color for the thumb */
  width: 16px;
  height: 16px;
  border-radius: 50%;
  cursor: pointer;
  margin-top: -4px; /* Align thumb vertically in the center */
}

/* Chrome, Safari, and Edge: Filled portion */
input[type="range"]::-webkit-slider-runnable-track {
  background: linear-gradient(
    to right,
    #ff0000 var(--value, 0%),
    #ccc var(--value, 0%)
  );
}

/* Firefox Track */
input[type="range"]::-moz-range-track {
  background: #ccc; /* Light gray for the empty part of the track */
  border-radius: 5px;
  height: 8px;
}

/* Firefox Thumb */
input[type="range"]::-moz-range-thumb {
  background: #ff0000; /* Red color for the thumb */
  width: 16px;
  height: 16px;
  border-radius: 50%;
  cursor: pointer;
}

/* Firefox: Filled portion */
input[type="range"]::-moz-range-progress {
  background: #ff0000; /* Red for the filled portion */
  height: 8px;
}

/* IE and Edge Legacy: Thumb */
input[type="range"]::-ms-thumb {
  background: #ff0000; /* Red thumb */
  width: 16px;
  height: 16px;
  border-radius: 50%;
  cursor: pointer;
}

/* IE and Edge Legacy: Track */
input[type="range"]::-ms-track {
  background: transparent;
  border-color: transparent;
  color: transparent;
}

/* IE and Edge Legacy: Filled portion */
input[type="range"]::-ms-fill-lower {
  background: #ff0000; /* Red filled part */
}

input[type="range"]::-ms-fill-upper {
  background: #ccc; /* Light gray for unfilled part */
}

.animate-down {
  animation: slideDown 0.5s ease-out forwards;
}

.animate-up {
  animation: slideUp 0.5s ease-out forwards;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-100%);
    opacity: 0;
  }
}

.active-border {
  border: 1px solid #ff6b81 !important;
  transition: border 0.3s ease-in-out;
  display: none;
}

.copy {
  width: 40px;
  height: 25px;
  background-color: #2c2c2c;
  border: 1px solid #444;
  border-radius: 2px;
  position: fixed;
  top: 2.25rem;
  right: 0.35rem;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.85;
  z-index: 999;
  cursor: pointer;
}

.hex-display {
  background-color: #2c2c2c;
  opacity: 0.75;
  position: fixed;
  top: 3.95rem;
  right: 0.35rem;
  font-size: 0.8rem;
  color: #ddd;
  word-break: break-all;
  margin-bottom: 0.5rem;
}

.css-variable-box {
  display: grid;
  grid-template-rows: auto 1fr auto;
  align-items: start;
  justify-items: center;
  background-color: #2c2c2c;
  padding: 0.25rem;
  border-radius: 5px;
  border: 1px solid #444;
  font-size: 0.9rem;
  color: whitesmoke;
  text-align: center;
  .variable-name {
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
  }

  .color-preview {
    width: 100%;
    height: 50px;
    margin-bottom: 0.5rem;
  }

  .gradient-button {
    background-color: linear-gradient(145deg, #ff6b81, #e63946);
    border-radius: 5px;
    padding: 0.5rem;
    border: 1px solid #444;
    margin-bottom: 0.5rem;
    width: 100%;
  }

  .slider-container {
    display: flex;
  }

  .percent-slider {
    margin: 0 1rem;
  }

  .degree-slider {
    margin: 0 1rem;
  }

  input[type="range"] {
    width: 100%;
  }

  .input {
    opacity: 0;
    width: 100%;
    height: 40px;
    border: 1px solid black;
  }
  /* Custom classes for each input field */
  .background-color {
    background: var(--background-color);
  }

  .accent-color {
    background: var(--accent-color);
  }

  .text-color {
    background: var(--text-color);
  }

  .button-background {
    background: var(--button-background);
  }

  .button-hover-background {
    background: var(--button-hover-background);
  }

  .button-active-background {
    background: var(--button-active-background);
  }

  .button-border-color {
    background: var(--button-border-color);
  }

  .button-text-color {
    background: var(--button-text-color);
  }

  .shadow-color {
    background: var(--shadow-color);
  }

  .value-display {
    font-size: 0.8rem;
    color: #ddd;
    word-break: break-all;
    margin-bottom: 0.5rem;
  }

  input[type="color"],
  input[type="text"] {
    // Display these if you need them for interaction
    // or set to display:none if the user should not see them directly
    margin-top: 0.5rem;
  }
}

.theme-picker-container {
  background-color: #353536;
  padding: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  z-index: 999;
  width: 60dvw;
  text-align: center;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
}

.dialog-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: whitesmoke;
}

.dialog-picker {
  margin-bottom: 1rem;
}

.dialog-switch-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 3 equal columns for the first row */
  grid-auto-rows: auto; /* Automatically adjust row height */
  gap: 1rem; /* Space between the buttons */
  justify-content: center; /* Center the grid horizontally */
}

.dialog-switch-button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  background: linear-gradient(145deg, #ff6b81, #e63946);
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background: $button-hover-background;
    transform: translateY(-2px);
    // ease in and out
    transition: all 0.1s ease-in-out;
  }
}

.exit-button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: 1px solid var(--button-border-color);
  border-radius: 5px;
  background: #2c2c2c;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background: $button-hover-background;
    transform: translateY(-2px);
    // ease in and out
    transition: all 0.1s ease-in-out;
  }
}

.margin--15 {
  margin-top: 15rem;
}

.margin--14 {
  margin-top: 14rem;
}

.margin--13 {
  margin-top: 13rem;
}

.margin--12 {
  margin-top: 12rem;
}

.margin--11 {
  margin-top: 11rem;
}

.margin--10 {
  margin-top: 10rem;
}

.margin--9 {
  margin-top: 9rem;
}

.margin--8 {
  margin-top: 8rem;
}

.margin--7 {
  margin-top: 7rem;
}

.margin--6 {
  margin-top: 6rem;
}

.margin--5 {
  margin-top: 5rem;
}

.margin--4 {
  margin-top: 4rem;
}

.margin--3 {
  margin-top: 3rem;
}

.margin--2 {
  margin-top: 2rem;
}

.margin--1 {
  margin-top: 1rem;
}

.margin-0 {
  margin-top: 0;
}

.margin-1 {
  margin-top: -1rem;
}

.margin-2 {
  margin-top: -2rem;
}

.margin-3 {
  margin-top: -3rem;
}

.margin-4 {
  margin-top: -4rem;
}

.margin-5 {
  margin-top: -5rem;
}

.margin-6 {
  margin-top: -6rem;
}

.margin-7 {
  margin-top: -7rem;
}

.margin-8 {
  margin-top: -8rem;
}

.margin-9 {
  margin-top: -9rem;
}

.margin-10 {
  margin-top: -10rem;
}

.margin-11 {
  margin-top: -11rem;
}

.margin-12 {
  margin-top: -12rem;
}

.margin-13 {
  margin-top: -13rem;
}

.margin-14 {
  margin-top: -14rem;
}

.margin-15 {
  margin-top: -15rem;
}

.custom-dialog {
  background-color: $background-color;
  border-radius: 12px;
  padding: 40px;
  width: 600px;
  max-width: 80%;
  box-shadow: 0 10px 20px $shadow-color;
  color: $text-color;
  text-align: center;
  font-size: 26px;
  border: 1px solid $button-border-color;
  scale: $scale;
  strong {
    text-decoration: underline;
    margin-top: 3rem;
  }
}

.animate {
  animation: fadeInScale 0.5s ease-in-out forwards;
}

@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes wiggle {
  0%,
  100% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(-5deg);
  }
  40% {
    transform: rotate(5deg);
  }
  65% {
    transform: rotate(-5deg);
  }
  80% {
    transform: rotate(5deg);
  }
}

.shake-lr {
  -webkit-animation: shake-lr 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) 5s both;
  animation: shake-lr 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) 5s both;
}

@-webkit-keyframes shake-lr {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  10% {
    -webkit-transform: rotate(6deg);
    transform: rotate(6deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-8deg);
    transform: rotate(-8deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(8deg);
    transform: rotate(8deg);
  }
  60% {
    -webkit-transform: rotate(-6deg);
    transform: rotate(-6deg);
  }
  90% {
    -webkit-transform: rotate(6deg);
    transform: rotate(6deg);
  }
}
@keyframes shake-lr {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  10% {
    -webkit-transform: rotate(8deg);
    transform: rotate(8deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }
  80% {
    -webkit-transform: rotate(-8deg);
    transform: rotate(-8deg);
  }
  90% {
    -webkit-transform: rotate(8deg);
    transform: rotate(8deg);
  }
}

.tutorial-button {
  display: inline-block;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  /* Animation */
  // animation: wiggle 1s ease-in-out 5s 2 forwards;
}

.tutorial-button:hover {
  background-color: #0056b3;
}

.tutorial-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: -1rem;
}

.tutorial-container {
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #353536;

  &.step-1 {
    position: fixed;
    top: 1rem;
    left: 1rem;
    z-index: 1000;
    max-width: 35dvw;
  }

  &.step-2 {
    position: fixed;
    top: 1rem;
    left: 1rem;
    z-index: 1000;
    max-width: 35dvw;
  }

  &.step-3 {
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 1000;
    max-width: 55dvw;
  }

  &.step-4 {
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 1000;
    max-width: 35dvw;
  }

  &.step-5 {
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 1000;
    max-width: 55dvw;
  }
}

.tutorial-description {
  font-size: 1rem;
  color: whitesmoke;
}

.spacer {
  width: 100%;
  height: 200px;
}

.custom-dialog-header h2 {
  text-align: center;
  font-size: 48px;
  margin-bottom: 30px;
  color: $text-color;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: -1px -1px 0 $accent-color, 1px -1px 0 $accent-color,
    -1px 1px 0 $accent-color, 1px 1px 0 $accent-color;
}

.custom-dialog-content {
  text-align: center;
  margin: 30px 0;
}

.lookup-options .lookup-button {
  display: inline-block;
  margin-bottom: 20px;
  padding: 20px 40px;
  font-size: 26px;
  font-weight: bold;
  color: $button-text-color;
  background: $button-background;
  border: 3px solid $button-border-color;
  border-radius: 12px;
  cursor: pointer;
  width: 100%;
  transition: background 0.3s ease, transform 0.3s ease;
}

.lookup-options .lookup-button:hover {
  background: $button-hover-background;
  transform: translateY(-4px);
}

.lookup-options .lookup-button:active {
  background: $button-active-background;
  transform: translateY(2px);
}

.custom-dialog-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  gap: 15px;
}

.dialog-button {
  padding: 15px 30px;
  font-size: 26px;
  font-weight: bold;
  color: $button-text-color;
  background: $button-background;
  border: 2px solid $button-border-color;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.3s ease;
  box-shadow: $shadow-color 0 4px 8px;
}

.dialog-button:hover {
  background: $button-hover-background;
  transform: translateY(-4px);
}

.dialog-button:active {
  background: $button-active-background;
  transform: translateY(2px);
}

.full {
  width: 100%;
}

.mb {
  margin-bottom: 2rem;
}

.card-prompt {
  display: flex;
  flex-direction: column;
  margin-right: 14rem;
}

.card-text {
  font-size: 26px;
  color: $text-color;
  text-align: center;
}

.card {
  width: 250px;
  height: 120px;
  border: 1px solid #000;
  border-radius: 10px;
  background-color: #f0f0f0;
  position: relative;
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  animation: moveCard 2.5s linear infinite;
  z-index: 1;
}

.card-reader {
  width: 260px;
  height: 50px;
  background-color: #333;
  margin: 16px auto;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 2;
  margin-bottom: -2rem;
}

.card-barcode {
  height: 40px;
  background-color: #000;
  margin-bottom: 16px;
}

.card-line {
  height: 20px;
  background: repeating-linear-gradient(
    90deg,
    #000,
    #000 20px,
    #fff 10px,
    #fff 20px
  );
  width: 80%;
  border-radius: 4px;
}

@keyframes moveCard {
  0% {
    transform: translateX(80%);
    opacity: 1;
  }
  70% {
    transform: translateX(-70%);
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    transform: translateX(-70%);
    opacity: 0;
  }
}

.no-select {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Standard */
}

/* CSS to add blur effect */
.blurred {
  filter: blur(8px);
  transition: filter 0.3s ease-in-out;
}

/* Add styles to indicate sensitive information */
.blured {
  position: relative;
  color: transparent;
}

/* Add overlay to make it more secure */
.blured::after {
  content: "Sensitive information - hold button to reveal";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 5px;
  border-radius: 3px;
  text-align: center;
  white-space: nowrap;
  font-size: 14px;
}

/* Remove blur and overlay when held */
.custom-dialog-content:not(.blurred) .blured {
  color: inherit;
}

.cancel-button {
  background: transparent;
  color: $accent-color;
  border: 1px solid $accent-color;
}

.cancel-button:hover {
  background: rgba(255, 255, 255, 0.1);
}

.custom-order-dialog-content {
  font-size: 26px;
}

.dialog-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 15px;
  margin-bottom: 20px;
}

/* Styling for lookup input field */
.lookup-input {
  font-size: 26px;
  padding: 15px;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  border: 2px solid $button-border-color;
  border-radius: 8px;
  box-shadow: 0 4px 8px $shadow-color;
}

/* Styling for the virtual keyboard */
.keyboard-container {
  margin-top: 20px;
}

.keyboard-row {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.keyboard-key {
  padding: 15px 20px;
  margin: 5px;
  font-size: 20px;
  font-weight: bold;
  color: $button-text-color;
  background: $button-background;
  border: 2px solid $button-border-color;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.3s ease;
}

.keyboard-key:hover {
  background: $button-hover-background;
  transform: translateY(-4px);
}

.keyboard-key:active {
  background: $button-active-background;
  transform: translateY(2px);
}

.custom-dialog-content ul {
  list-style-type: none;
  padding: 0;
}

.custom-dialog-content ul li {
  font-size: 26px;
  margin: 10px 0;
}

/* PIN Validation Dialog Styles */
.pin-dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $background-color;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  z-index: 999;
  width: 90%;
  max-width: 400px;
  text-align: center;

  .pin-dialog-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      margin-bottom: 1rem;
      color: $accent-color;
    }

    input {
      padding: 0.5rem;
      font-size: 1rem;
      border: 1px solid $button-border-color;
      border-radius: 5px;
      margin-bottom: 1rem;
      width: 100%;
    }

    .pin-keypad {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 10px;
      margin-bottom: 1rem;

      .keyboard-key {
        padding: 1rem;
        font-size: 1.5rem;
        background: $button-background;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        color: $button-text-color;

        &:hover {
          background: $button-hover-background;
        }

        &:active {
          background: $button-active-background;
        }
      }
    }

    .custom-dialog-actions {
      display: flex;
      justify-content: space-between;
      width: 100%;

      .dialog-button {
        padding: 0.75rem 1.5rem;
        font-size: 1rem;
        color: $button-text-color;
        background: $button-background;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        width: 48%;

        &:hover {
          background: $button-hover-background;
          transform: translateY(-2px);
          // ease in and out
          transition: all 0.1s ease-in-out;
        }

        &:active {
          background: $button-active-background;
        }
      }
    }
  }
}
