.homepage {
  background-color: white;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
}

body {
  background-color: white;
}

.spacer {
  width: 100%;
  height: 200px;
}
