$background-color: #ffffff;
$accent-color: grey;
$text-color: grey;
$button-background: linear-gradient(145deg, #ff6b81, #e63946);
$button-hover-background: linear-gradient(145deg, #ff1744, #ff5252);
$button-active-background: linear-gradient(145deg, #ff6b81, #e63946);
$border-color: #ff1744;
$button-text-color: #ffffff;
$shadow-color: rgba(255, 23, 68, 0.3);
$scale: 0.8;

.theme-creator-container {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
}

.background {
  position: absolute;
  background-color: $background-color;
  width: 100%;
  height: 100%;
}

.welcome-container {
  position: fixed;
  z-index: 999;
  width: 100%;
  background-color: white;
}

.interface-card-container {
  background-color: $background-color;
  margin-bottom: 2rem;
  min-height: 100vh;
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 2rem;
}

.interface-card {
  background-color: $background-color;
  color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 8px $shadow-color;
  overflow: hidden;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 600px;
  height: min-content;
  display: flex;
  flex-direction: column;
  border: 1px solid $border-color;
  z-index: 900;

  &:hover {
    transform: translateY(-5px) !important;
    box-shadow: 0 8px 16px $shadow-color !important;
    transition: all 0.3s ease-in-out !important;
  }
}

.interface-image {
  width: 100%;
  height: 300px;
  object-fit: fit;
  padding: 1rem;
}

.interface-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 16px 0 8px 0;
  color: $text-color;
}

.interface-description {
  font-size: 1rem;
  line-height: 1.5;
  padding: 0 16px 16px 16px;
  color: $text-color;
}

.page-title {
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  margin-bottom: 1rem;
  color: $text-color;
}

.page-subtitle {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 2rem;
  color: $text-color;
}
